# --- 郵件發送設定 (這是系統寄信用的官方帳號) ---
SMTP_USER=請自行填寫指定Email
# ⚠️ 填的帳號的 16 位的「應用程式密碼」
SMTP_PASSWORD=請改成指定應成程式密碼
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# 驗證機制是否為機器人: Google reCAPTCHA v3 分數驗證
RECAPTCHA_SECRET_KEY=自己補上RECAPTCHA_KEY

# google帳號登入驗證
GOOGLE_CLIENT_ID = 自己補key

# 應用程式配置
DEBUG=true                                                  # 是否為除錯模式
SECRET_KEY=     # 應用程式密鑰（建議 32+ 字元）

# 資料庫配置 mac如果localhost不行,可改成127.0.0.1
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=自己的密碼
DB_NAME=自己的資料庫

CORS_ORIGINS=http://localhost:5173,http://localhost:5174,http://127.0.0.1:5173

# DATABASE_URL=
DATABASE_URL=mysql+pymysql://root:自己的密碼@localhost:3306/自己的資料庫

# JWT 配置
ALGORITHM=HS256                     
# JWT 演算法
ACCESS_TOKEN_EXPIRE_MINUTES=60      
# Access Token 有效期（分鐘）
REFRESH_TOKEN_EXPIRE_DAYS=7         
# Refresh Token 有效期（天）


# 日誌配置 
# 日誌格式（佈署到伺服器時json  / 在你的電腦開發console）
LOG_LEVEL=INFO                  # 日誌等級（DEBUG, INFO, WARNING, ERROR）
LOG_FORMAT=console
LOG_TO_FILE=true                # 是否輸出到檔案
LOG_FILE=logs/app.log           # 日誌檔案路徑
LOG_MAX_SIZE_MB=100             # 單一日誌檔案最大大小（MB）
LOG_BACKUP_COUNT=5              # 保留的日誌檔案數量

# 外部服務配置
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_DEFAULT_MODEL=gemma3:1b

# AnythingLLM 專用配置 (如果你要將它設為系統級預設)
# 這是我自己的，你們要用這個要下載該模型跟申請，不用就不管。
ANYTHINGLLM_KEY= 申請的key
ANYTHINGLLM_WORKSPACE=工作區名稱

# Gemini的key
GEMINI_API_KEY= 請到https://aistudio.google.com/app/api-keys?hl=zh-tw&_gl=1*1skrnir*_ga*MTA1MjQ0OTU3NC4xNzcwNjQwMDQ3*_ga_P1DBVKWT6V*czE3NzA2NDAwNDckbzEkZzAkdDE3NzA2NDAwNDckajYwJGwwJGgyMTI2NzQ1ODY3申請自己的key

# 資安金鑰 (自己產出的,用現在這個就行)
ENCRYPTION_KEY=看記事本

# 開發環境配置範例 (先保持註解，需要再啟用)
# DEBUG=true
# LOG_LEVEL=DEBUG
# LOG_FORMAT=console
# LOG_TO_FILE=false

